<style>
    .footer-container{
      background-color: #333;
      padding: 1rem 0 2rem 0;
        bottom: 0;
        margin-top: 1rem;
 }
 .footer{
   left: 0;
   bottom: 0;
     background-color: #333;
     color: #fff;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin: 0 auto;   
 }
 .footer-heading{
   display: flex;
   flex-direction: column;
   margin-right: 6rem;
 }
 
 .footer-heading h2{
   margin-bottom: 2rem;
 }
 
 .footer-heading a{
   color: #fff;
   text-decoration: none;
   margin-bottom: 0rem;
 }
 .footer-heading a:hover{
   color: red;
   transition: 0.3s ease-out;
 }
 .footer-email-form h2{
   margin-bottom: 2rem;
 }
 
 #footer-email{
   width: 250px;
   height: 40px;
     border-radius: 4px;
     outline: none;
     border: none;
     padding-left: 0.5rem;
     font-size: 1rem; 
     margin-bottom: 1rem;
 
 
 }
 
 #footer-email::placeholder{
   color: #b1b1b1;
 }
 #footer-email-btn{
   width: 100px;
   height: 40px;
     border-radius: 4px;
     background-color: #ff9900;
     outline: none;
     border: none;
     color: #fff;
     font-size: 1rem;
 
 }
 #footer-email-btn:hover{
   cursor: pointer;
   background-color: #337AF1;
   transition: all 0.4s ease-out;
 }
 @media screen and (max-width: 1150px){
 
   .footer{
     height: 50vh;
   }
   .footer-email-form{
     margin-top: 4rem;
   }
 }
 
 @media screen and (max-width: 820px){
 
   .footer{
     padding-top: 2rem;
   }
   .footer-email-form{
     margin-top: 4rem;
   }
 }
 
 @media screen and (max-width: 720px){
 
   .footer{
     height: 50vh;
   }
   .footer-email-form{
     margin-top: 4rem;}}
</style> 
<div class="footer-container">
    <div class="footer">
      <div class="footer-heading footer-1">
        <h2>Company</h2>
        <ul>
          <li><a href="#">about us</a>
          <li><a href="#">Our services</a>
          <li><a href="#">privacy policy</a></li>
          
        </ul>
      </div>
      <div class="footer-heading footer-2">
        <h2>Online shop</h2>
        <ul>
          <li><a href="#">FAQ</a>
          <li><a href="#">Order</a>
          <li><a href="#">privacy policy</a></li>
          
        </ul>
      </div>

      <div class="footer-heading footer-3">
        <h2>Follow Us</h2>
        <div class="sociallink"></div>
        <ul>
          <li><a href="#"><img src="\Images\insta.png" width="20" height="20"> Instagram</a>
          <li><a href="#"><img src="\Images\facebook.png" width="20" height="20"> Facebook</a>
          <li><a href="#"><img src="\Images\twitter.png" width="20" height="20"> Twitter</a></li>
          
        </ul>
      </div>
      <div class="footer-email-form">
        <h2>Write us email</h2>
        <input type="email" placeholder="Enter your email address" id="footer-email">
        <input type="submit" value="Sign up" id="footer-email-btn">

       </div>
    </div>
   </div>

</div>
