<!DOCTYPE html>
<head>
<title> About</title>
<link rel="stylesheet" href="\css\style.css">


<style>

body {
background-image: url(/Images/shop9.jpg);
background-repeat: no-repeat;
background-size: 100% 90%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.div1{
  background-color: #B9F8D3;
  margin: 0 500px 0 500px;
  padding-bottom: 20px;
}
h1{
  background-color: #ff9900;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.h12{
  background-color: #1D5C63;
  padding-left: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Alreadylogin{
  padding: 50px;
}
.tb{
  padding-left: 50px;
}
#i1{
  margin-left: 150px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}


p {
  font-size: 1.875em;
  margin: 30px;
}

#logo{

  width: 60px;
  height: 50px;
  
}


 .c5{
  margin-right: 100px;
  margin-left: 500px;
 }
 .first{
  
  margin: 0 500px 20px 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
</style>
 <link rel = "icon" href = 
"\Images\2611_Sakshi Bharambe_HCI (1).png" 
        type = "image/x-icon">
</head>
<body>
<div class="topnav">
  

  <a href=/Main>
    <img src="\Images\2611_Sakshi Bharambe_HCI (1).png" id="logo"></a>

  <div class="topnav-right">
    <a  href="/Main">Home</a>
  <a  href="/Product">Product</a>
  <a  href="/Contact">Contact</a>
    <a href="/logout-user">Logout</a>
    <a class="active" href="#">About</a>
  </div>
</div>


  


<br><br>
<div  class="first" style="border:#333; border-width:6px; border-style:solid;">
  <p style="color:#663d00;"font-size="40%"><u>Vision Statement:</u><br> </p>
  <p font-size="30%">Dream to become world class organization and to provide best of our services to our customer</p>
  <p>Serving Sugar Free Items is our speciality</p>
  <p>We are always delighted to make your moments more memorable and sweet</p>
</div>
<div>
  <div  class="first" style="border:#333; border-width:6px; border-style:solid;">
  <p style="color:#663d00;"font-size="40%"><u>Our Achievements:</u> <br></p>
  <p font-size="30%">Won Best Cake Shop Award at City level</p>
  <p>We have successfully made packaging style environmental friendly</p>
  <p>We focus on use of more renewable resources </p>
</div>
<h2 align="center">***Contact Us On***</h2>
<div class="c5">
  
  <a href="#" style="padding-right: 10px;padding-left: 20px;text-decoration: none; color: black;font-size: 25px;"><img src="/Images/whatsapp.png" width="20" height="20"> +91 78555588</a>
  <a href="#" style="padding-right: 10px;padding-left: 20px;text-decoration: none;color: black;font-size: 25px;"><img src="/Images/mail.png" width="20" height="20"> cubiescake@g.com</a>
 
</div>


</style>
<footer><%- include('../partials/footer'); %></footer>

</body>
</head>
