<!DOCTYPE html>
<head>
<title> HOME</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/header.css">

<link rel = "icon" href = "\Images\2611_Sakshi Bharambe_HCI (1).png" 
        type = "image/x-icon">
        
        
</head>
<style>


	


    body {
        background-image: url(/Images/shop9.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    
    
    
    
    
    .city {
      background-color: mediumseaGreen;
      color: white;
      border: 2px solid black;
      margin: 10px;
      padding: 10px;
    
    }
    
    #logo{
    
        width: 60px;
        height: 50px;
        
    }
    .row1:after{
      content: "";
      display: table;
      clear: both;
      margin-bottom: 20px;
      
      margin-left: 2px;
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
      margin-bottom: 40px;
    }
    .column2 {
        text-align: center;
        margin-left: 400px;
        color: black;
        float: left;
      width: 25%;
      padding: 10px;
      padding-left: 50px;
       
      height: 358px;
    }
    .column1 {
        
        color: black;
        float: left;
      width: 25%;
      padding: 10px;
       
      height: 358px;
    }
    .column {
        color: black;
      float: left;
      width: 25%;
      padding: 10px;
       
      height: 358px;
    }
    .btn1{
    
    width: 80px;
    height: 30px;
    background-color: #ff9900 ;
     box-shadow: 5px 10px #888888;
    font-size: 90%;
    text-align: center;
    }
    .btn1:hover{
    
     background-color: rgb(255, 115, 100);
    
    }
    .h{
        color:#660000;
      margin-top: 5px;
      margin-bottom: 10px;
      margin-left: 40%;
      width: 20%;
      background-color: #e6b800;
      height: 50px;
      text-align: center;
      padding-top: 2px;
      font-size: 30px;
    }
    </style>
<body>

<div class="topnav">
  

    <a href=Main.html>
        <img src="\Images\2611_Sakshi Bharambe_HCI (1).png" id="logo"></a>

  <div class="topnav-right">
  	<a class="active" href="#Home">Home</a>
  <a  href="/Product">Product</a>
  <a  href="/Contact">Contact</a>
  <a href="/logout-user">Logout</a>
  <a href="/About">About</a>
  </div>
</div>
<div align="center" style="background-color: lightcoral; font-size: 40px; width: 500px; margin-left: 500px; ">
  <%if(message!=''){%>
  <p ><%=message%> <%=name%> </p>
  <%}%>
  </div>
<p align="center" style="color:black; font-size:2vw; font-family: 'Georgia (serif)';"><br><strong>WELCOME TO CUBIES CAKE<br></strong></p>
	<h2 align="center" style="color:#663d00; font-size:5vw; font-family: 'Courier New ';">We are committed towards your Smile</h2><h2 align="center"style="color:#663d00; font-size:5vw;font-family: 'Courier New ';">Let's make every moment sweet together</h2>
<h2></h2>
<div style="padding-left:16px">
  
</div>
<div class="PICS" style="width: 450px;height: 450px; margin:50px auto ;" ><img src="\Images\st2.webp"></img></div>

	<div class="h">Our Best Seller</div>
	
  
	<div  class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Red Cupcake</h2>
    <img src="\Images\redcup.jpg" alt="Red CupCake" width="250" height="250">
<div class="btn1"><a href="/Product#Cupcake" style="text-decoration: none; color: black;"><h2 style="text-decoration: none;">Buy</h2></a></div>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Chocolate Cupcake</h2>
    <img src="\Images\chocolate.jpg" alt="Vanilla Cake" width="250" height="250">
<div class="btn1"><a href="/Product#Blachforest" style="text-decoration: none; color: black;"><h2 style="text-decoration: none;">Buy</h2></a></div>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Vanilla cake</h2>
<img src="\Images\cake5.jpg" alt="Vanilla Cake" width="250" height="250">
   
      </p><div class="btn1"><a href="/Product#Blachforest" style="text-decoration: none; color: black;"><h2 style="text-decoration: none;">Buy</h2></a></div>
  </div>
  <div class="column" style="background-color:#ddd;">
    <h2>Choco Cake</h2>
    <img src="\Images\cake4.jpg" alt="Choco Cake" width="250" height="250">
<div class="btn1"><a href="/Product#Blachforest" style="text-decoration: none; color: black;"><h2 style="text-decoration: none;">Buy</h2></a></div>
  </div>
</div>
<div class="row1">
  <div class="column2" style="background-color:#aaa;">
    <h2>Vanilla Cupcake</h2>
<img src="\Images\cup1.jpg" alt="Vanilla Cake" width="250" height="250">
   
      </p><div class="btn1"><a href="/Product#Wedding" style="text-decoration: none; color: black;"><h2 style="text-decoration: none;">Buy</h2></a></div>
  </div>
  <div class="column1" style="background-color:#bbb;">
    <h2>White Cake</h2>
    <img src="\Images\Whitecake.jpg" alt="White Cake" width="250" height="250">
<div class="btn1"><a href="/Product#Icecream" style="text-decoration: none; color: black;"><h2 style="text-decoration: none;">Buy</h2></a></div>
  </div></div>
</div>

<footer><%- include('../partials/footer'); %></footer>
</body>
</head>
