<!DOCTYPE html>
<head>
<title> Register</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/header.css">

<style>
body {
  background-image: url(/Images/shop9.jpg);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

  



</style>
<link rel = "icon" href = "\Images\2611_Sakshi Bharambe_HCI (1).png" 
        type = "image/x-icon">
        
</head>
<body >

<div class="topnav">
  

  <a href=/Main>
  <img src="\Images\2611_Sakshi Bharambe_HCI (1).png" id="logo"></a>

  <div class="topnav-right">
    <a  href="#Home">Home</a>
  <a class="active" href="#Register">Register</a>
  <a  href="/Contact">Contact</a>
    
    <a href="/About">About</a>
  </div>
</div>
<p align="center" style="color:black; font-size:2vw; font-family: 'Georgia (serif)';"><br><strong>Register</strong></p>
  
<div style="padding-left:16px">
  
</div>
<div class="first" style="border:#333; border-width:7px; border-style:solid;">
<form class="second" action="/register" method="POST" style="font-size: large;" >
      <table class="tb">
        
        <tr>
          <td>
            <label for="">Name</label>
          </td>
          <td>
            <input type="text" name="names" placeholder="Name" id="names">
            <span id="username" class="text-danger font-weight-bold"></span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="">Password</label>
          </td>
          <td>
            <input type="password" name="pass" placeholder="password" id="pass">
            <span id="phones" class="text-danger font-weight-bold"></span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="">Phone</label>
          </td>
          <td>
            <input type="phone" name="phnum" placeholder="Phone Number" id="phnum">
            <span id="phones" class="text-danger font-weight-bold"></span>
          </td>
        </tr>
        <tr>
          <td>
            <label>Email</label>
          </td>
          <td>
            <input type="email" name="Email" placeholder="Email" id="Email">
            <span id="eamils" class="text-danger font-weight-bold"></span>

          </td>
        </tr>
        <tr>
          <td>
            <label>Address</label>
          </td>
          <td >
            <input type="Subject" name="add"  placeholder="Address" id="add">
            <span id="subject" class="text-danger font-weight-bold"></span>
          </td>
        </tr>
     
      </table>
      <button style="align-self: center ;"type="submit" name="save" id="i1" placeholder="Register"; margin=20px>Register</button>
    </form>
</div>


<footer><%- include('../partials/footer'); %></footer>
</body>
</head>
